# soy.js compiled files
*.soy.js

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Jekyll
/.jekyll-cache/
/_site_mainnet/
/_site_beta/
/_site_signet/
/_site_localhost/
/.jekyll-metadata

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# Ruby
vendor
/.sass-cache/

# Python
*/__pycache__
*.pyc

# Built javascript files:
/assets/js/bitex*.js
