# soy.js compiled files
*.soy.js

# Distribution / packaging
/_site_ghpages/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Jekyll
/.jekyll-cache/
/.jekyll-metadata
/_config.yml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# Ruby
vendor
/.sass-cache/
/_site/
