
    <script src="{{ site.url }}{{ site.baseurl }}/assets/themes/whitedev/javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/assets/themes/whitedev/javascripts/system.js" type="text/javascript"></script>
    <script src="//code.highcharts.com/highcharts.js" type="text/javascript"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/assets/themes/whitedev/javascripts/docs/panel-charts.js" type="text/javascript"></script>

    {% if page.load_application %}
    <script data-cfasync="false" type="text/javascript">
      var _app;  // global application object
      (function(){
        var broker_id = {% if page.blinktrade_broker_id %}{{ page.blinktrade_broker_id}}{% else %}{{ site.blinktrade_broker_id}}{% endif %};
        var country_code = "{% if page.default_country_code %}{{ page.default_country_code}}{% else %}{{ site.default_country_code}}{% endif %}";
        var blinktrade_api = "{% if page.blinktrade_backend_api %}{{ page.blinktrade_backend_api}}{% else %}{{ site.blinktrade_backend_api}}{% endif %}";
        var symbol = "{{ site.symbol }}";
        var required_level_to_be_a_pro_trader = {{ site.required_level_to_be_a_pro_trader }};

        var remittance_box = {{ site.remittance_box  }};

        _app = new BlinkTradeApp(broker_id, remittance_box,  country_code, symbol);
        _app.run(blinktrade_api, required_level_to_be_a_pro_trader);
      })();
    </script>
    {% endif %}

  </body>
</html>
