    <footer class="footer">
      <div class="container">
        <p>
          {% if page.load_application %}
          {% t views.footer.latency %}: <span class="bitex-model" data-model-key="latency">0</span> ms |
          {% endif %}
		      <a href="http://blinktrade.com/" target="_blank">© 2014 BlinkTrade Inc</a>
          | <a href="#themes">Themes</a>
          | <a href="https://github.com/blinktrade/" target="_blank">Follow us on GitHub<span class="bitex-model" data-model-key="JSVersion"></span></a>
        </p>
      </div>
    </footer>

    {% if page.load_application %}
    <script data-cfasync="false" type="text/javascript">
      var _app;  // global application object
      (function(){
        var broker_id = {% if page.blinktrade_broker_id %}{{ page.blinktrade_broker_id}}{% else %}{{ site.blinktrade_broker_id}}{% endif %};
        var country_code = "{% if page.default_country_code %}{{ page.default_country_code}}{% else %}{{ site.default_country_code}}{% endif %}";
        var blinktrade_api = "{% if page.blinktrade_backend_api %}{{ page.blinktrade_backend_api}}{% else %}{{ site.blinktrade_backend_api}}{% endif %}";
        var symbol = "{{ site.symbol }}";
        var required_level_to_be_a_pro_trader = {{ site.required_level_to_be_a_pro_trader }};

        var remittance_box = {{ site.remittance_box  }};

        _app = new BlinkTradeApp(broker_id, remittance_box,  country_code, symbol);
        _app.run(blinktrade_api, required_level_to_be_a_pro_trader);
      })();
    </script>
    {% endif %}

  </body>
</html>
